*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle wrapper binaries
wrapper/dists/

# Android Studio
*.iml
.idea/
*.class

# Build outputs
app/build/
build/
